  <div class="content_post" style="background-image: url(<%= movie.image %>);">
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '詳細', hoge(movie.id), method: :get %>
          </li>
          <% if user_signed_in? && current_user.id == movie.user_id %>
          <li>
            <%= link_to '編集', hoge(movie.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', hoge(movie.id), method: :delete %>
          </li>
          <% end %>
        </ul>
      </div>
      <p><%= mivie.name %></p>
      <span class="name">
        <a href="/users/<%= movie.user.id %>">
          <span>投稿者</span><%= movie.user.name %>
        </a>
      </span>
    </div>